{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 Chrome versions", "Firefox ESR"],
        "uglify": false
      },
      "exclude": ["transform-regenerator", "es6.set"],
      "modules": false,
      "loose": false
    }]
  ]
}
